/*******************
*     GENERAL      *
*******************/

body {
  background-color: #fff !important;
}

#content {
  padding-top: 70px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 4em;
}

input {
  background-color: #fff;
}

section {
  position: relative;
  padding: 100px 0;
}

[v-cloak] {
  display: none;
}



/*******************
*      FOOTER      *
*******************/

footer {
  position: relative;
  background: #ecf0f1;
  min-height: 200px;
  width: 100%;
}

footer * {
  z-index: 89;
}

footer h1,
footer .social-icons {
  margin-bottom: 40px;
}

footer .social-icons a i {
  font-size: 24px;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

footer .social-icons .fa-facebook-square:hover {
  color: #3b5998;
}

footer .social-icons .fa-twitter-square:hover {
  color: #00aced;
}

footer .social-icons .fa-google-plus-square:hover {
  color: #dd4b39;
}

footer .social-icons .fa-instagram:hover {
  color: #517fa4;
}

footer .social-icons .fa-youtube-square:hover {
  color: #bb0000;
}

footer .social-icons .fa-spotify:hover {
  color: #23CF5F;
}

footer .social-icons .fa-soundcloud:hover {
  color: #ff3a00;
}

footer .social-icons .fa-mixcloud:hover {
  color: #589fc3;
}

footer .social-icons .fa-vimeo:hover {
  color: #45bbff;
}

@media screen and (min-width: 768px) {
  footer .social-icons a i {
    font-size: 40px;
  }
}
